streamlit
python-dotenv
PyPDF2
langchain==0.2.11
langchain-community==0.2.11
langchain-core==0.2.11
langchain-text-splitters==0.2.1
sentence-transformers
openai
torch==2.1.0
transformers==4.33.1
chromadb

